<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESULTADOS</title>
</head>
<body>
    
    <p>Estas buscando el legajo n°: {{legajo}}</p>

    {% for colabs in colab %}
    <ul>
        <li>Legajo: {{colabs.colab_legajo}}</li>
        <li>Nombre: {{colabs.colab_nombre}}</li>
    </ul>
    {% endfor %}

    <!--{% for sellers in seller %}
            
                <p>Nombre: {{sellers.seller_nombre}}</p>
                <p>Categoría: {{sellers.seller_categoria}}</p>
                <p>Email: {{sellers.seller_email}}</p>
            
        {% endfor %}-->
    
</body>
</html>