{% extends "Appnum1/padre.html" %}

{% load static %}


{% block nombrepestaña%}
Vendedores
{% endblock %}


{% block nav_bar %}
            <ul class="navbar-nav ml-auto">
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'fseller' %}">REGISTRO VENDEDORES</a>
                </li>
            </ul>
{% endblock %}


{% block titulo %}
Vendendores 
{% endblock %}

{% block section %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block"> Ingresa dato para buscar al vendedor</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <body>
        <div class="container">
            <div class="row justify-content-center">

                <form action="/Appnum1/resultados/" method="GET"> 
                
                    <input type="text" name="nombre" id="nombre">
                    <div class="row justify-content-center">
                    <input type="submit" value="Buscar">
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</section>
{% endblock %}

{% block section_contact %}
<section>
    <div class="container">
        <div class="text-center">
            <h3>Estas buscando el vendedor: {{nombre}}</h3>
    <br>
            <div align ="justify-content-center">
            <h4>
            {% for sellers in seller %}
            
                <p>Nombre: {{sellers.seller_nombre}}</p>
                <p>Categoría: {{sellers.seller_categoria}}</p>
                <p>Email: {{sellers.seller_email}}</p>
            
            {% endfor %}
            </h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}